body {
    background: #5521f3cc;
    height: 100vh;
    display: flex;
}

.container {
    margin: auto;
}

#manHead {
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 50%;
    position: relative;
    left: 6px;
    top: -6px;
    animation: headAnima 1.3s infinite ease-in;
}

#manBody {
    width: 40px;
    height: 100px;
    background: #fff;
    border-radius: 30px 30px 11px 12px;
    animation: bodyAnima 1.3s infinite ease-in;
}

#elbow1,
#elbow2 {
    width: 16px;
    height: 70px;
    background: #fff;
    border-radius: 38px 40px 60px 60px;
    position: relative;
    margin-top: -76px;
    margin-bottom: 5px;
    left: 16px;
    animation: hand 2s infinite linear;
    transform-origin: top left;
}

#elbow1 {
    left: 16px;
    animation-delay: 1s;
}

.hand {
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 60px;
    position: relative;
    bottom: -74px;

}

#leg1,
#leg2 {
    width: 22px;
    height: 70px;
    background: #fff;
    border-radius: 20px 40px 40px 20px;
    position: relative;
    top: 10px;
    left: 11px;
    animation: walk 2s infinite linear;
    transform-origin: top left;
}

#leg2 {
    top: -60px;
    animation-delay: 1s;
}

#foot1,
#foot2 {
    width: 30px;
    height: 10px;
    background: #fff;
    border-radius: 20px 50px 50px 20px;
    position: relative;
    top: 76px;
    left: -2px;
    animation: foot 2s infinite linear;
    /* transform-origin: top left; */
}

#foot2 {
    animation-delay: 1s;
}

#shadow {
    width: 100px;
    height: 10px;
    background: rgb(174 169 255 / 72%);
    border-radius: 50%;
    position: relative;
    top: -33px;
    left: -20px;
    animation: shadowAnima 1s infinite linear;
}

@keyframes headAnima {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(7px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes bodyAnima {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(3px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes hand {

    0% {

        transform: rotate(0deg);
    }

    12.5% {
        transform: rotate(20deg);
    }

    25% {
        transform: rotate(40deg);
    }

    37.5% {
        transform: rotate(20deg);
    }

    50% {
        transform: rotate(0deg);
    }

    62.5% {
        transform: rotate(-20deg);
    }

    75% {
        transform: rotate(-40deg);
    }

    87.5% {
        transform: rotate(-20deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes walk {

    0% {

        transform: rotate(0deg);
    }

    12.5% {
        transform: rotate(10deg);
    }

    25% {
        transform: rotate(20deg);
    }

    37.5% {
        transform: rotate(10deg);
    }

    50% {
        transform: rotate(0deg);
    }

    62.5% {
        transform: rotate(-10deg);
    }

    75% {
        transform: rotate(-20deg);
    }

    87.5% {
        transform: rotate(-10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes foot {
    0% {

        transform: rotate(0deg);
    }

    12.5% {
        transform: rotate(20deg);
    }

    25% {
        transform: rotate(35deg);
    }

    37.5% {
        transform: rotate(12deg);
    }

    50% {
        transform: rotate(0deg);
    }

    62.5% {
        transform: rotate(-12deg);
    }

    75% {
        transform: rotate(-25deg);
    }

    87.5% {
        transform: rotate(-12deg);
    }

    100% {
        transform: rotate(0deg);
    }

}

@keyframes shadowAnima {

    0% {

        transform: rotateY(80deg);
    }

    25% {
        transform: rotateY(40deg);
    }

    50% {
        transform: rotateY(0deg);
    }

    75% {
        transform: rotateY(40deg);
    }

    100% {
        transform: rotateY(80deg);
    }
}